.featured-movie {
  display: flex;
  align-items: center;
  padding: 50px 40px;
  background-color: #111;
  color: #fff;
}

.movie-info {
  flex: 1;
  margin-right: 50px;
  max-width: 500px;
}

.title {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.description {
  font-size: 1.2em;
  line-height: 1.6;
}

.movie-cast-image {
  flex: 1;
  text-align: right;
}

.movie-cast-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilos para telas menores (celular) */
@media (max-width: 768px) {
  .featured-movie {
    flex-direction: column;
    padding: 20px;
  }

  .movie-info {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .title {
    font-size: 2.5em;
  }

  .movie-cast-image {
    text-align: center;
  }

  .movie-cast-image img {
    max-width: 80%;
  }
}