/* src/components/FeaturedMovie.css */

.featured-movie {
  padding: 80px 40px;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%; /* Ocupa toda a largura disponível */
}

.movie-info {
  text-align: left;
  flex: 1;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
}

.movie-cast-image {
  flex-shrink: 0;
  max-width: 50%;
}

.movie-cast-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Media Query para telas menores que 768px (celulares) */
@media (max-width: 768px) {
  .featured-movie {
    padding: 20px;
    flex-direction: column; /* Garante que o container principal fique em coluna */
  }

  .content-container {
    flex-direction: column; /* Empilha o texto e a imagem no celular */
  }

  .movie-info {
    text-align: center; /* Centraliza o texto no celular */
    padding-right: 0;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .description {
    font-size: 1rem;
    max-width: 100%;
  }

  .movie-cast-image {
    max-width: 100%; /* Imagem ocupa a largura total no celular */
    margin-top: 20px;
  }
}