.featured-movie {
  padding: 80px 40px;
  background-color: #1a1a1a;
  color: #fff;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; /* Layout padrão para desktop */
  gap: 20px; /* Espaço entre o texto e a imagem */
}

.movie-info {
  text-align: left;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
}

.movie-cast-image {
  flex-shrink: 0; /* Impede que a imagem encolha */
}

.movie-cast-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Media Query para telas menores que 768px (smartphones) */
@media (max-width: 768px) {
  .featured-movie {
    padding: 20px;
  }
  
  .content-container {
    flex-direction: column; /* Altera para uma coluna no celular */
    align-items: center; /* Centraliza o conteúdo */
    text-align: center; /* Centraliza o texto */
    gap: 10px;
  }
  
  .movie-info {
    text-align: center; /* Centraliza o texto no celular */
  }
  
  .title {
    font-size: 2rem;
  }
  
  .description {
    font-size: 1rem;
    max-width: 100%;
    margin-top: 10px;
  }

  .movie-cast-image {
    width: 100%; /* Garante que a imagem ocupe a largura total */
  }

  .movie-cast-image img {
    width: 100%;
  }
}