.movie-card-container {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.movie-card-container:hover {
  transform: scale(1.05);
}

.movie-card-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}