.movie-card-container {
  width: 150px; /* Largura padrão para desktop */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.movie-card-container:hover {
  transform: scale(1.05);
}

.movie-card-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .movie-card-container {
    width: 100px;
  }
}